*{
    margin: 0px;
}
.navbar{
    height: 150px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    position: fixed;
    width: 100%;
    background-color: aquamarine;
    z-index: 1;
}
#main{
    height: 400px;
    display: flex;
    padding-top: 120px;
    background-color: yellow;
    position: sticky;
    top: 0px;
    justify-content: center;
    align-items: center;
}
h1{
    text-align : center;
    text-shadow: 10px 10px 10px rgb(107, 100, 100);
    font-family:sans-serif;
}
label{
    margin: 0px 30px;
    font-weight: 600;
}
.last{
    position:relative;
}
#imgpos{
    position: absolute;
    top: 0px;

}